@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@400;700&family=Revalia&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-josefin: "Josefin Sans", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}

.font-revalia {
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-style: normal;
}
